@import 'spacing';

body {
  background-color: #f4f4f4;
}

.box {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border-radius: 2px;
}

.username {
  vertical-align: sub;
}

.avartar {
  border-radius: 50%;
  &.large {
    display: inline-block;
    width: 60px;
    height: 60px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.91);
  color: inherit;
}

.is-marginless.image.p-b-0.p-10:hover .overlay {
  z-index: 1;
}

.card-text {
  font-size: 20px;
  color: rgba(4, 4, 4, 0.65);
  display: block;
  height: 40px;
}

.card-stats {
  font-size: 13px;
}

.overlay-text-date {
  position: absolute;
  bottom: 25px;
  font-size: 13px;
}

.shot-modal-user {
  vertical-align: top;
  font-size: 20px;
  display: inline-block;
}

.shot-modal-date {
  font-size: 14px;
  color: #9c9999;
  .highlight {
    font-weight: bolder;
    color: rgba(33, 150, 243, 0.92);
  }
}

.box.shot-box {
  background-color: #f9f9f9;
}

.card.box.shot-box {
  width: 100%;
  background-color: #fff;
  display: inline-block;
}

.image.is-32x32 {
  width: 32px;
}

.shot-response .username {
  display: inline-block;
  font-size: 14px;
}

.shot-response {
  display: inline-block;
  width: 100%;
}

.interact-btn {
  border: 0px;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}

.navbar {
  background-color: #333;
  img {
    width: 130px
  }
}

.navbar-item {
  background-image: url("/dist/images/logo.gif");
  display: block;
  width: 160px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-background-size: 76px 19px;
  -moz-background-size: 76px 19px;
  background-size: 150px;
  &:hover {
    background-color: unset !important;
    opacity: .6
  }
}

.modal {
  z-index: 999;
}